.home{
  &__content{
    background-color: #f3f5f7;
    padding-top: 15px;
    padding-bottom: 15px;
    &__card{
      &--product{
        &__nav{
          >li{
            >a{
              color: #505f77;
              @extend .fz-14;
              font-family: $font-Roboto-Medium;
              text-transform: initial !important;
              &:hover{
                color: #2196f3;
              }
            }
            &.uk-active{
              >a{
                color: #2196f3;
              }
            }
          }
        }
        &__brand{
          padding: 10px;
          &__item{
            width: 100%;
            height: 48px;
            background: #fff;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            &:hover{
              img{
                filter: grayscale(100%);
                opacity: 0.5;
              }
            }
          }
        }
        &__item{
          padding: 7px;
          background-color: #fff;
          border: 1px solid #eaedf1;
          border-top: none;
          border-right: none;
          position: relative;
          &:hover{
            @include media-breakpoint-up('m'){
              z-index: 9;
              height: auto !important;
              box-shadow: 0 0 10px rgb(0 0 0 / 20%);
            }
          }
          &__bottom-expand{
            display: none;
            padding-top: 5px;
            .home__content__card--product__item:hover &{
              @include media-breakpoint-up('m'){
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                //top: 100%;
                background: #fff;
                padding: 5px 7px 7px;
                box-shadow: 0 12px 10px rgb(0 0 0 / 20%);
              }
            }
            &__btn-add_to_cart{
              padding: 0 5px;
              background-color: #2196f3;
              border-color: #2196f3;
              color: #ffffff;
              @extend .fz-14;
              line-height: 33px;
              width: 100%;
              border-radius: 4px;
              text-transform: initial;
              &:hover{
                background-color: #0c84e4;
                border-color: #0c84e4;
                color: #fff;
              }
              >*{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                &:before{
                  content: "";
                  background-image: url("data:image/svg+xml,%3Csvg fill='white' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512'%3E%3Cpath d='m464.5,301.1l36.5-178h-359.7l-12.5-59.2-108.4-52.9-9.4,18.7 99,47.8 50,238.8h289c0,0 28.5,17.9 17.5,40.5-4.9,7-12.5,15.6-26.1,15.6h-287.6v20.6h287.7c19.8,0 36.5-10.4 45.9-27 18.4-34.4-21.9-64.9-21.9-64.9zm-286.7-5.7l-32.3-151.6h330.5l-31.3,151.6h-266.9z'%3E%3C/path%3E%3Cpath d='m212.2,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.4 39.6,39.4 39.6-17.6 39.6-39.4-17.7-39.4-39.6-39.4zm0,58.1c-10.4,0-18.8-8.3-18.8-18.7s8.3-18.7 18.8-18.7 18.8,8.3 18.8,18.7-8.4,18.7-18.8,18.7z'%3E%3C/path%3E%3Cpath d='m424.9,422.1c-21.9,0-39.6,17.6-39.6,39.4s17.7,39.5 39.6,39.5 40.7-17.6 39.6-39.4c0-21.8-17.7-39.5-39.6-39.5zm18.8,39.5c0,10.4-8.3,18.7-18.8,18.7s-18.8-8.3-18.8-18.7 8.3-18.7 18.8-18.7 19.8,8.3 18.8,18.7z'%3E%3C/path%3E%3C/svg%3E");
                  background-repeat: no-repeat;
                  width: 22px;
                  height: 22px;
                  background-size: 100%;
                  background-position: center;
                  display: inline-block;
                  margin-right: 4px;
                  position: relative;
                  top: -2px;
                }
              }
            }
            &__btn-favorites{
              line-height: 33px;
              padding: 0 5px;
              border: 0.5px solid #e5e5e5;
              border-radius: 4px;
              &:hover{
                border-color: #2196f3;
                svg{
                  fill: #2196f3;
                }
              }
              svg{
                width: 21px;
                height: 21px;
                fill: #303846;
              }
            }
          }
          &__thumbnail{
            position: relative;
            height: 292px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
          }
          &__name{
            color: #303846;
            @extend .line-clamp-2;
            line-height: 1.3;
            @extend .fz-13;
            font-family: $font-Roboto-Medium;
            margin: 0;
            margin-bottom: 4px;
            a{
              color: #303846 !important;
              &:hover{
                color: #2196f3 !important;
              }
            }
          }
          &__price{
            &--new{
              color: #ff5722;
              @extend .fz-14;
              font-family: $font-Roboto-Medium;
            }
            &--old{
              color: #8e9098;
              @extend .fz-13;
            }
            &--sale{
              color: #fff;
              height: 16px;
              max-height: 16px;
              background-color: #fe3434;
              @extend .fz-11;
              padding: 0 2px;
              border-radius: 4px;
              line-height: 15px;
              font-weight: 600;
              display: inline-block;
            }
          }
        }
      }
      &--news{
        &__item{
          &__margin10s{
            >*{
              margin: 0 !important;
              &:nth-child(n+2){
                margin-top: 10px !important;
              }
            }
          }
          &__title{
            color: #1c1c1c;
            @extend .fz-14;
            line-height: 1.4;
            font-family: $font-Roboto-Medium;
            @extend .line-clamp-2;
            a{
              color: #1c1c1c;
            }
          }
          &__desc{
            color: #777;
            line-height: 1.5;
            word-break: break-word;
            @extend .fz-14;
            @extend .line-clamp-3;
          }
          &__readMore{
            color: #2196f3;
            border-color: #2196f3;
            @extend .fz-13;
            text-transform: initial;
            &:hover{
              background-color: #2196f3;
              color: #ffffff;
            }
          }
        }
      }
      &--search{
        .uk-dotnav{
          $x:10px;
          margin-top: #{$x} !important;
          margin-bottom: #{$x} !important;
          >li{
            >a{
              border: 1px solid #e5e5e5;
              background-color: #fff;
              border-radius: 0;
              &:hover{
                border-color: #2196f3;
                background-color: #2196f3;
              }
            }
            &.uk-active{
              >a{
                border-color: #2196f3;
                background-color: #2196f3;
              }
            }
          }
        }
        &__item{
          padding: 15px 15px;
          border: 1px solid #eaedf1;
          border-left-color: transparent;
          box-sizing: border-box;
          .uk-first-column> &{
            border-top-color: transparent;
          }
          &:hover{
            border: 1px solid #2196f3 !important;
          }
          &__img{
            width: 56px;
          }
          &__title{
            color: #333;
            @extend .fz-14;
            font-family: $font-Roboto-Medium;
            margin-bottom: 4px !important;
            @extend .line-clamp-1;
          }
          &__desc{
            color: #8e9098;
            @extend .fz-13;
          }
        }
      }
      &:nth-child(n+2){
        margin-top: 15px;
        @include media-breakpoint-up('m'){
          margin-top: 15px;
        }
      }
      @include media-breakpoint-up('m'){
        border-radius: 6px;
      }
      box-shadow: 4px 4px 16px 0 rgb(217 228 231 / 50%);
      .uk-card-header{
        $x:12px;
        padding-top: #{$x};
        padding-bottom: #{$x};
      }
      .uk-card-body{

      }
      &__title{
        @extend .fz-20;
        font-family: $font-Roboto-Medium;
        color: #303846;
        a{
          color: #303846;
          &:hover{
            color: #2196f3 !important;
          }
        }
      }
      &__linkAll{
        color: #505f77;
        @extend .fz-14;
        font-family: $font-Roboto-Medium;
        &:hover{
          color: #2196f3 !important;
        }
      }
    }
  }
}